* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 40px;
    font-weight: 800;
    font-size: 18px;
}

header nav a:first-child:hover {
    color: #ACC5FC;
}

header nav a:nth-child(2):hover {
    color: #F38D08;
}

header nav a:nth-child(3):hover {
    color: #60FF73;
}

header nav a:nth-child(4):hover {
    color: #FF6363;
}

header nav a:nth-child(5):hover {
    color: #FF2291;
}

header a .logo {
    display: flex;
    font-size: 18px;
    letter-spacing: 0px;
}

header a .logo img {
    max-width: 15px;
    max-height: 15px;
}

header a {
    text-decoration: none;
    color: #fff;
}

.icones {
    display: flex;
    gap: 15px;
}

.icones img {
    max-width: 28px;
    max-height: 28px;
}

header,
footer {
    background-color: #6D6D6D;
    color: #fff;
    padding: 2rem 7vw;
}

footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.5px;
}

header nav a {
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-grid:first-child {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: clamp(1rem, 3vw, 2rem);
}

.container-grid:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    gap: clamp(1rem, 3vw, 2rem);
}

main section:first-child img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

main section:nth-child(2) img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.musica {
    color: #D30DAF;
}

.saude {
    color: #68C874;
}

.esportes {
    color: #FF6363;
}

.jogos {
    color: #0026CE;
}

.filmes {
    color: #C77100;
}

main {
    padding: 2rem 7vw;
    display: flex;
    gap: 4vw;
}

main section:first-child {
    max-width: 58%;
    border-right: 1px #4f4f4f17 solid;
}

main section:first-child #noticia-principal {
    padding-bottom: 50px;
    padding-right: 50px;
    letter-spacing: 1.1px;
    border-bottom: 1px #4f4f4f17 solid;
    margin-bottom: 50px;
    color: #3C3C3C;
    word-wrap: break-word;
}

main section:first-child div article {
    font-size: 15px;
    width: 100%;
}

main section:first-child div {
    margin-right: 50px;
}

main section:nth-child(2) {
    width: 100%;
    max-width: 40%;
    font-size: 20px;
    height: 100%;
}

main section:nth-child(2) div {
    height: 100%;
}

main section:first-child #noticia-principal h2 {
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 0px;
}

main section article h3 {
    margin-top: 10px;
}

main section article {
    transition: 0.3s;
    width: 100%;
}

main section div article {
    flex: 1 1 30%;
    max-width: 100%;
}

main section article:hover {
    transform: scale(1.02);
    cursor: pointer;
}

main section {
    margin: 1rem 0px;
}

@media (max-width: 1000px) {
    header {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 1rem 4vw;
    }

    header nav {
        flex-wrap: wrap;
        gap: 10px;
    }

    header a .logo {
        font-size: 12px;
    }

    header nav a,
    footer {
        font-size: 12px;
    }

    main {
        padding: 0.5rem 7vw;
        flex-direction: column;
        gap: 0;
    }

    main section:first-child {
        border-bottom: 1px #4f4f4f17 solid !important;
    }

    main section:first-child div {
        margin-right: 0;
    }

    main section:first-child #noticia-principal {
        padding-right: 0;
        text-align: center;
    }

    main section {
        max-width: 100% !important;
        border: none !important;
        padding: 20px 0px !important;
    }

    main section .container-grid article {
        font-size: 20px !important;
    }

    .container-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    }

}